# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

# Cargar los tres archivos CSV
file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
file2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
file3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

# Combinar los tres datasets
combined_data = pd.concat([file1, file2, file3], ignore_index=True)

# Limpiar los datos (ejemplo: eliminar duplicados y manejar valores nulos)
combined_data = combined_data.drop_duplicates()
combined_data = combined_data.fillna('Unknown')

# Mostrar las primeras filas del dataset combinado y limpio
print(combined_data.head())

  Customer          ST   GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington  Unknown                Master                 Unknown
1  QZ44356     Arizona        F              Bachelor              697953.59%
2  AI49188      Nevada        F              Bachelor             1288743.17%
3  WW63253  California        M              Bachelor              764586.18%
4  GA49547  Washington        M  High School or Below              536307.65%

    Income Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0               1000.0                    1/0/00   Personal Auto
1      0.0                 94.0                    1/0/00   Personal Auto
2  48767.0                108.0                    1/0/00   Personal Auto
3      0.0                106.0                    1/0/00  Corporate Auto
4  36357.0                 68.0                    1/0/00   Personal Auto

   Vehicle Class Total Claim Amount    State   Gender
0  Four-Door Car           2.704934  Unknown  Unknown
1  Four-Door Car        1131.464935  Unknown  Unknown
2   Two-Door Car         566.472247  Unknown  Unknown
3            SUV         529.881344  Unknown  Unknown
4  Four-Door Car          17.269323  Unknown  Unknown

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [3]:
# Limpiar y estandarizar las columnas del DataFrame
combined_data.columns = combined_data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^a-z0-9_]', '')

# Convertir las columnas num√©ricas a su tipo adecuado
combined_data['customer_lifetime_value'] = pd.to_numeric(combined_data['customer_lifetime_value'].str.replace('%', ''), errors='coerce')
combined_data['income'] = pd.to_numeric(combined_data['income'], errors='coerce')
combined_data['monthly_premium_auto'] = pd.to_numeric(combined_data['monthly_premium_auto'], errors='coerce')
combined_data['number_of_open_complaints'] = pd.to_numeric(combined_data['number_of_open_complaints'], errors='coerce')
combined_data['total_claim_amount'] = pd.to_numeric(combined_data['total_claim_amount'], errors='coerce')

# Mostrar las primeras filas del DataFrame limpio
print(combined_data.head())

  customer          st   gender             education  \
0  RB50392  Washington  Unknown                Master
1  QZ44356     Arizona        F              Bachelor
2  AI49188      Nevada        F              Bachelor
3  WW63253  California        M              Bachelor
4  GA49547  Washington        M  High School or Below

   customer_lifetime_value   income  monthly_premium_auto  \
0                      NaN      0.0                1000.0
1                697953.59      0.0                  94.0
2               1288743.17  48767.0                 108.0
3                764586.18      0.0                 106.0
4                536307.65  36357.0                  68.0

   number_of_open_complaints     policy_type  vehicle_class  \
0                        NaN   Personal Auto  Four-Door Car
1                        NaN   Personal Auto  Four-Door Car
2                        NaN   Personal Auto   Two-Door Car
3                        NaN  Corporate Auto            SUV
4                        NaN   Personal Auto  Four-Door Car

   total_claim_amount    state   gender
0            2.704934  Unknown  Unknown
1         1131.464935  Unknown  Unknown
2          566.472247  Unknown  Unknown
3          529.881344  Unknown  Unknown
4           17.269323  Unknown  Unknown

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [5]:
# Crear una tabla pivot para calcular los ingresos totales por canal de ventas
sales_channel_revenue = combined_data.pivot_table(
    values='total_claim_amount',
    index='policy_type',
    aggfunc='sum'
).round(2)

# Mostrar la tabla resumen
print(sales_channel_revenue)

                total_claim_amount
policy_type
Corporate Auto           840081.32
Personal Auto           2926168.68
Special Auto             165758.07
Unknown                       0.00

In [7]:
# Eliminar columnas duplicadas en el DataFrame
combined_data = combined_data.loc[:, ~combined_data.columns.duplicated()]

# Crear una tabla pivot para calcular el valor promedio de la vida del cliente por g√©nero y nivel educativo
avg_clv_pivot = combined_data.pivot_table(
    values='customer_lifetime_value',
    index='gender',
    columns='education',
    aggfunc='mean'
).round(2)

# Mostrar la tabla resumen
print(avg_clv_pivot)

education    Bachelor  Bachelors    College     Doctor  High School or Below  \
gender
F           808678.19  474208.57  809143.59  746331.45             815118.42
Femal       628743.37        NaN  666203.88        NaN             559589.48
M           743238.59  520935.92  773024.72  680651.40             772507.89
Male       1102121.81        NaN  796178.26  615315.91            1115956.93
Unknown     786023.52        NaN  817609.06  846882.10             798422.68
female      916457.01        NaN  758341.72        NaN             487828.18

education     Master
gender
F          794365.71
Femal            NaN
M          744210.77
Male       916723.23
Unknown    473031.73
female     475043.06

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

In [ ]:
# Asegurarse de que la columna 'number_of_open_complaints' sea num√©rica
combined_data['number_of_open_complaints'] = pd.to_numeric(combined_data['number_of_open_complaints'], errors='coerce')

# Extraer el mes de la columna 'customer' si contiene informaci√≥n de fecha
# Suponiendo que la columna 'customer' contiene cadenas con formato de fecha, de lo contrario reemplazar con la columna correcta
combined_data['month'] = pd.to_datetime(combined_data['customer'], errors='coerce').dt.month

# Agrupar por tipo de p√≥liza y mes, sumando el n√∫mero de quejas
complaints_summary = combined_data.groupby(['policy_type', 'month'])['number_of_open_complaints'].sum().reset_index()

# Renombrar columnas para mayor claridad
complaints_summary.columns = ['Policy Type', 'Month', 'Number of Complaints']

# Mostrar la tabla en formato largo
print(complaints_summary)

C:\Users\sergi\AppData\Local\Temp\ipykernel_20980\2745828994.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_data['month'] = pd.to_datetime(combined_data['customer'], errors='coerce').dt.month

Empty DataFrame
Columns: [Policy Type, Month, Number of Complaints]
Index: []